<div class="board-header">
  <p>
    <strong>Name:</strong>
    {{ name }}
  </p>
  <p>
    <strong>Description:</strong>
    {{ description }}
  </p>
  <button class="btn" id="new-card">Create new Card</button>
  <input id="card-title" placeholder="Card Title">
</div>

