<div class="board-header">
  <h4 class="board-title">
    {{ name }}
  </h4>
  <input id="card-title" placeholder="Card Title">
  <button class="btn btn-primary" id="new-card">Create new Card</button>
</div>

