// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Raleway);
// #grayout {
//   position: absolute;
//   width: 100%;
//   min-height: 1000px;
//   opacity: 0.5;
//   z-index: -1;
//   background-color: black;
// }
.navbar {
  background-color: white;
  padding: 10px;
  // border-bottom: 1px solid #DBDDDE;
  opacity: 0.9;
  width: 95%;
  // margin-bottom: 10px;
  // border-bottom: 10px;
}

body {
  margin: 0px auto;
  font-family: 'Raleway', sans-serif !important;
  // width: 99%;
}

// .contianer {
//   color: #FF9500;
// }
.navbar-brand {
  text-decoration:none;
  background-color: none;
  font-size: 30px;
}

.navbar-brand:hover {
  text-decoration: none;
  background-color: none;
}

.navbar-header {
  margin: 10px 0px 10px 0px;
  // color: #FF9500;
}

.navbar-brand:-webkit-any-link {
  text-decoration: none;
  background-color: transparent;
  color: black;
  // size
}

a {
  color: black;
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration:none;
  background-color: transparent;
}
a:link {
  text-decoration:none;
  background-color: none;}
a:visited {text-decoration:none;
background-color: none;}
a:hover {text-decoration:underline;
background-color: none;}
a:active {text-decoration:underline;
background-color: none;}

#card-title {
  margin: 5px 0px 5px 0px auto;
  border-radius: 2px;
}
h5 {
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}

a.navbar-brand {
  text-decoration: none;
}
a.navbar-brand:link {text-decoration:none;}
a.navbar-brand:visited {text-decoration:none;}
a.navbar-brand:hover {text-decoration:underline;}
a.navbar-brand:active {text-decoration:underline;}

#board {
  // width: 98%;
  margin: 50px 0px 50px 0px;
  text-align: center;
  background-color: white;
  // min-height: 700px;
  padding: 10px 0px;
}

.board-header {
  text-align: center;
  margin: 1.5% auto;
  width: 95%;
  // border-left: 10px;
}

.board-title {
  float: left;
  text-decoration: underline;
  display: inline;
}

.board-name {
  float: left;
  display: inline;
  // text-decoration: underline;

}

// .hold {
//   margin: 0 auto;
//   text-align: left;
// }

.stack {
  width: 28%;
  margin: 0px 1% auto;
  border: 5px;
  padding: 15px;
  text-align: left;
  min-height: 550px;
  background-color: #FCFBE3;
  float: left;
  border-radius: 4px;
}

.stack-name {
  border-bottom: 1px solid #DBDDDE;
  text-align: center;
}

.stack .card-list {
  padding: 10px 10px 0px 0px;
  text-align: left;
  margin: 0px;
  min-height: 500px;
}

.stackCard {
  text-align: left;
  width: 100%;
  // border: 5%;
  padding: 5px;
  margin: 10px  0px auto;
  height: 100px;
  // z-index:0;
  border-radius: 2px;
  overflow-y: scroll;
  box-shadow: 0px 0px 0px;
  background-color: #DBDDDE;
}

.stackCard span {
  outline: none;

  :focus {
    outline: none;
  }
}

.stackCard .description {
  background-color: #F7F7F7;
  border: 1px solid black;
  width: 96%;
  height: 45px;
  padding: 5px;
  border-radius: 2px;
}

#board-footer {
  background-color: white;
  padding: 15px;
  border-top: 1px solid #DBDDDE;
  width:100%;
  height:40px;
  position: relative;
  bottom:0;
  margin-top: 20px;
}

#new-card {
  // background-color: #E3E1B8;
  // color:#FF0000;
  font-size:1.5em;
  padding:4px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  // background-color: #FF5E3A;
  // background-image: -moz-linear-gradient(top, #FF5E3A, #FF2A68);
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF5E3A), to(#FF2A68));
  // background-image: -webkit-linear-gradient(top, #FF5E3A, #FF2A68);
  // background-image: -o-linear-gradient(top, #FF5E3A, #FF2A68);
  // background-image: linear-gradient(to bottom, #FF5E3A, #FF2A68);
  // background-repeat: repeat-x;
  background-color: #55EFCB;
  background-image: -moz-linear-gradient(top, #55EFCB, #5BCAFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#55EFCB), to(#5BCAFF));
  background-image: -webkit-linear-gradient(top, #55EFCB, #5BCAFF);
  background-image: -o-linear-gradient(top, #55EFCB, #5BCAFF);
  background-image: linear-gradient(to bottom, #55EFCB, #5BCAFF);
  background-repeat: repeat-x;
}
