// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #grayout {
//   position: absolute;
//   width: 100%;
//   min-height: 1000px;
//   opacity: 0.5;
//   z-index: -1;
//   background-color: black;
// }
.navbar {
  background-color: #1AD6FD;
  // margin-bottom: 10px;
  // border-bottom: 10px;
}

// .contianer {
//   color: #FF9500;
// }

.navbar-header {
  margin: 10px 0px 10px 0px;
  // color: #FF9500;
}
a {
  color: black;
  text-decoration: none;
}
a:-webkit-any-link {
  text-decoration:none;
  background-color: transparent;
}
a:link {
  text-decoration:none;
  background-color: none;}
a:visited {text-decoration:none;
background-color: none;}
a:hover {text-decoration:underline;
background-color: none;}
a:active {text-decoration:underline;
background-color: none;}

.navbar-brand {
  text-decoration: none;
}
.navbar-brand:link {text-decoration:none;}
.navbar-brand:visited {text-decoration:none;}
.navbar-brand:hover {text-decoration:underline;}
.navbar-brand:active {text-decoration:underline;}

#board {
  width: 100%;
  margin: 35px 0px auto;
  text-align: center;
  background-color: #D1EEFC;
  min-height: 1000px;
  padding: 10px
}

.board-header {
  text-align: center;
  margin: 10px auto;
}

// .hold {
//   margin: 0 auto;
//   text-align: left;
// }

.stack {
  width: 28%;
  margin: 0px 1% auto;
  border: 5px;
  padding: 15px;
  text-align: left;
  min-height: 850px;
  background-color: #52EDC7;
  float: left;
}

.stack .card-list {
  padding: 10px 10px 0px 10px;
  text-align: left;
  margin: 0px;
  min-height: 700px;
}

.stackCard {
  text-align: left;
  width: 100%;
  // border: 5%;
  padding: 5px;
  margin: 10px  0px auto;
  height: 100px;
  // z-index:0;
  overflow-y: scroll;
  box-shadow: 0px 0px 0px;
  background-color: #E0F8D8;
}

.stackCard span {
  outline: none;

  :focus {
    outline: none;
  }
}

.stackCard .description {
  background-color: #F7F7F7;
  border: 2px solid #C7C7CC;
  width: 96%;
  height: 45px;
  padding: 5px;
}
